body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ceceeb;
  /* background-color: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
  background-image: url(./back.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 30vh;
}
.block {
  background-color: #d8d8ef;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
  padding: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px; 
  margin-bottom: 15px;
  margin-left: 20px; 
  margin-right: 150px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question {
  width: 70%;
  justify-items: center;
}
.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gifts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.categoryButton {
  flex-wrap: wrap;
  margin:10px;
  padding:10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: center; */
}

img {
  width: 250px;
  height: 180px;
  margin: 7px;
}
.cartBox {
  position: fixed;
  /* left: 70rem;
  top: 3rem; */
  top: 5px;
  right: 5px;
  background-color: #d8d8ef;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
  padding: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12px;  
}
.cart {
  width: 170px;
  height: auto;
}
.categoryButtonSelected {
  background-color: #a1a1f6;
  cursor: pointer;
  margin:10px;
  padding:10px;
}
.categoryButtonSelected:hover {
  background-color: #efeff8;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
}
.categoryButton:hover {
  background-color: #efeff8;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
}


