body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ceceeb;
  background-image: url(./back.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: 30vh;
}
h1, h2, h3, h4, h5 {
  font-family: 'Signika', sans-serif;
  color: #3b3b75;
}
.block {
  background-color: #d8d8ef;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
  padding: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px; 
  margin-bottom: 15px;
  margin-left: 15px; 
  margin-right: 260px;
  width: 70%;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question {
  width: 70%;
  justify-items: center;
}
.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gifts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;  
}
.my {
  background-color: #ededfb;
  border: #b7b7f8 1px solid;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
  margin-bottom: 20px;
}

.categoryButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80px;
  margin:10px;
  padding:8px;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: center; */
}

img {
  width: 250px;
  height: 180px;
  margin: 7px;
}
.userimg {
  width: 30px;
  height: 30px;
}

.categoryButtonSelected {
  background: linear-gradient(to right, #ccccfa81, #babaf8, #9a9ada, #9a9ada, #babaf8, #ccccfa81);
  cursor: pointer;
  width: 80px;
  margin:10px;
  padding:8px;
  color: white;
}
.categoryButtonSelected:hover {
  background-color: #efeff8;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.502);
}
.categoryButton:hover {
  background-color: #efeff8;
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
}
.buy {
  width: 40px;
  height: 35px;
  margin: -10px;
}
.buyBtn {
  width: 58px;
  height: 47px;
  border: 1px solid #b7b7f8;
  border-radius: 10%;
  margin: 2px;
}
.buyBtn:hover {
  cursor: pointer;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
}


.cartBox {
  position: fixed;
  /* left: 70rem;
  top: 3rem; */
  top: 3.5px;
  right: 5px;
  background-color: #d8d8ef;
  box-shadow: 10px 10px 20px 0px rgba(2, 23, 126, 0.613);
  padding: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 12px; 
  width: 25%; 
}
.cartBox:hover {
  position:absolute;
  background-color: #dedef7;
}
.cartI {
  width: 170px;
  height: auto;
  margin-left: 25%;
}
.cart {
  display: flex;
  justify-content: space-between;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 5%; 
}

.throw {
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  width: 10%;
}
.icon {
  width: 18px;
  height: auto;  
}
